<!DOCTYPE html>
<html lang="Pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {{!-- CSS-formAdm --}}
    <link rel="stylesheet" href="/css/formAdm.css">
    {{!-- CSS-categorias --}}
    <link rel="stylesheet" href="/css/categorias.css">
    {{!-- CSS-vercategorias --}}
    <link rel="stylesheet" href="/css/vercategorias.css">
    {{!-- CSS-vermedicamentos --}}
    <link rel="stylesheet" href="/css/vermedicamentos.css">
    {{!-- CSS-formMed --}}
    <link rel="stylesheet" href="/css/formMed.css">
    {{!-- CSS-header --}}
    <link rel="stylesheet" href="/css/header.css">
    {{!-- CSS-index --}}
    <link rel="stylesheet" href="/css/login.css">
    {{!-- CSS-perfil --}}
    <link rel="stylesheet" href="/css/perfil.css">

    <link rel="stylesheet" href="/css/cadastro.css">

    <title>Controle de Estoque</title>
</head>

<body>

    {{#if error}}
    <div style="margin: 15px;" class="alert alert-danger">{{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{else}}
    {{/if}}
    {{>_msg}}
    {{{body}}}
    <!-- Bootstrap -->
    <script src="/js/header.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>