{{>header}}
<main role="main" class="container-perfil">
        <div class="profile-info">
            <img src="https://via.placeholder.com/150" alt="Foto de Perfil" class="profile-img">
            <h2>Nome do Usuário</h2>
            <p>E-mail: usuario@exemplo.com</p>
        </div> 

        <button class="btn btn-edit-profile btn-lg" onclick="location.href='/editar-perfil.html';">Editar Perfil</button>
    </main>